<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="monadsystems.onmicrosoft.com" />
    <add key="ida:ClientId" value="e27666b3-ed0f-49fd-8e00-75ef5908d27d" />
    <add key="ida:AudienceUri" value="https://graph.microsoft.com" />
    <add key="ida:ReplyUrl" value="http://localhost:1234" />
    <add key="ida:CertName" value="CN=GraphDaemonWithCert" />
  </appSettings>
</configuration>